* {
    margin: 0;
    padding: 0;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    /*background: url("gallery/page.svg") no-repeat;*/
    overflow-x: clip;
}

#bgReal {
    position: absolute;
    width: 100%;
}

.scrollBox {
    height: 100vh;
    position: relative;
    width: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#yes {
    position: absolute;
    margin-top: 400vh;
}

.scrollBox {
    position: relative;
    scroll-snap-align: end;
    height: 100vh;
    z-index: -1001;
}

/*Web dev blob*/

.tv1 {
    display: flex;
    justify-content: start;
    width: 57.2vw;
    height: 68vh;
    position: absolute;
    top: 111vh;
    left: 14vw;
    z-index: 50;
}

.carcass1 {
    pointer-events: none;
    position: absolute;
    width: 57.2vw;
    z-index: 49;
}

.leftOne {
    background-image: url("gallery/mainimg.webp");
    background-color: #343434;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    border-radius: 0 12% 12% 0;
    animation: moovinUp 10s alternate infinite none;
    cursor: pointer;
}

.rightOne {
    background-image: url("gallery/mainimg2.webp");
    background-color: #343434;
    background-repeat: no-repeat;
    width: 50%;
    background-size: cover;
    border-radius: 14% 0 0 14%;
    animation: moovinUp 10s alternate-reverse infinite none;
    background-clip: border-box;
    cursor: pointer;
}

.leftOne:hover {
    animation-play-state: paused;
    filter: brightness(85%);
}

.rightOne:hover {
    animation-play-state: paused;
    filter: brightness(85%);
}

@keyframes moovinUp {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 0 1.7vh;
    }
}

/*Coding blob*/

.tv2 {
    display: flex;
    justify-content: start;
    width: 57.2vw;
    height: 68vh;
    position: absolute;
    top: 211vh;
    left: 35vw;
    z-index: 50;
}

.carcass2 {
    position: absolute;
    width: 57.2vw;
    z-index: 50;
    pointer-events: none;
}

.leftCoding {
    background-color: #343434;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    border-radius: 11%;
    z-index: 48;
    cursor: pointer;
}

.pancakeTop {
    position: absolute;
    background-image: url("gallery/icecubeapp.webp");
    /*background-color: #343434;*/
    background-repeat: no-repeat;
    background-size: 96%;
    width: 70%;
    height: 100%;
    top: 5%;
    left: 2.7%;
    border-radius: 11% 0 0 11%;
    z-index: 3;
}

.pancakeMiddle {
    position: absolute;
    background-image: url("gallery/snow.webp");
    /*background-color: #343434;*/
    background-repeat: no-repeat;
    width: 70%;
    border-radius: 11% 0 0 11%;
    animation: moovinDiagonally 60s linear infinite;
    z-index: 2;
}

.pancakeBottom {
    position: absolute;
    background-image: url("gallery/ikubbg.webp");
    /*background-color: #343434;*/
    background-repeat: no-repeat;
    width: 70%;
    height: 100%;
    background-size: cover;
    border-radius: 11% 0 0 11%;
    cursor: pointer;
    z-index: 1;
}

.leftCoding:hover .pancakeBottom {
    filter: brightness(85%);
}

.leftCoding:hover .pancakeMiddle {
    animation-play-state: paused;
    filter: brightness(85%);
}

.leftCoding:hover .pancakeTop {
    filter: brightness(85%);
}

.github:hover {
    filter: brightness(85%);
}

.coding {
    position: absolute;
    background-image: url("gallery/coding.webp");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    left: 2%;
    z-index: 49;
    pointer-events: none;
}

.github {
    position: absolute;
    background-image: url("gallery/github.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 97%;
    height: 100%;
    border-radius: 0 11% 11% 0;
    cursor: pointer;
    margin-left: 0.3%;
}

@keyframes moovinDiagonally {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 85% 85%;
    }
}

/*Design blob (HELP)*/

.imageGallery {
    width: 92%;
    height: auto;
    padding: 4% 10px 40px 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 15px;
    overflow: scroll;
    background-color: white;
    border-radius: 11% 11% 11% 11%;
    overflow-x: hidden
}

.imageGallery img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.imageGallery img:hover {
    filter: brightness(85%);
}

.pfp {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
}

.textLapser {
    grid-column-start: 8;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 5;
}

.hwImg {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.wspPhone1 {
    grid-row-start: 2;
    grid-row-end: 4;
}

.wspPhone2 {
    grid-row-start: 2;
    grid-row-end: 4;
}

.maksiksLogo {
    grid-column-start: 3;
    grid-column-end: 5;
}

.ctwr {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}

.iMaidAFrut {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 7;
}

.conceptSlice {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
}

.compVect {
    grid-column-start: 6;
    grid-column-end: 8;
}

.conceptPhone {
    grid-row-start: 2;
    grid-row-end: 4;
}

.thisOne {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}

.packOne {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
}

.packTwo {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
}

.websiteAi {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

.tm {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 5;
}

.deptIcon {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

.hero {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 6;
}

.bgOne {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6;
}

.bread {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

.sword {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 5;
}

.EDM {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.iKub {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 5;
}

.carcass3 {
    position: absolute;
    width: 57.2vw;
    z-index: 50;
    pointer-events: none;
}

.tv3 {
    display: flex;
    justify-content: center;
    width: 57.2vw;
    height: 68vh;
    position: absolute;
    top: 314vh;
    left: 8vw;
    z-index: 50;
    overflow: hidden;
}

.imageGallery::-webkit-scrollbar, .imageGalleryPix::-webkit-scrollbar, .imageGalleryAI::-webkit-scrollbar {
    width: 1rem;
}

.imageGallery::-webkit-scrollbar-track, .imageGalleryPix::-webkit-scrollbar-track, .imageGalleryAI::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 1em;
    margin-bottom: 20px;
}

.imageGallery::-webkit-scrollbar-thumb, .imageGalleryPix::-webkit-scrollbar-thumb, .imageGalleryAI::-webkit-scrollbar-thumb {
    background: #888;
}

.imageGallery::-webkit-scrollbar-thumb:hover, .imageGalleryPix::-webkit-scrollbar-thumb:hover, .imageGalleryAI::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 998;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.modalImg {
    max-width: 90%;
    max-height: 90%;
    min-width: 10%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modalImgPix {
    display: none;
    max-width: 90%;
    max-height: 90%;
    min-width: 10%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
}

@media only screen and (max-width: 700px){
    .modalImg {
        width: 100%;
        max-width: 100%;
    }
}

.designTxt {
    user-select: none;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    z-index: 51;
    font-family: "Proza Libre", serif;
    color: white;
    font-size: 6.5vw;
}

.folderBg {
    max-width: 30vw;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 6;
    z-index: 3;
    pointer-events: none;
    user-select: none;
}

.leftFolder {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 6;
    cursor: pointer;
    z-index: 2;
    border-radius: 16%;
    background-color: #5E5E5E;
    margin-right: 0;
}

.rightFolder {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 6;
    cursor: pointer;
    z-index: 1;
    border-radius: 16%;
    background-color: #5E5E5E;
    margin-left: 0;
}

.rightFolder:hover {
    opacity: 100%;
}

.imageGalleryPix {
    width: 92%;
    height: auto;
    padding: 6% 10px 40px 20px;
    display: none;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 15px;
    overflow: scroll;
    background-color: white;
    border-radius: 11% 11% 11% 11%;
    overflow-x: hidden
}

.imageGalleryPix img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    image-rendering: pixelated;
}

.imageGalleryPix img:hover {
    filter: brightness(85%);
}

.blank {
    width: 24%;
    grid-column-start: 3;
    grid-column-end: 7;
    opacity: 0;
    cursor: initial;
    user-select: none;
}

.imageGalleryAI {
    width: 92%;
    height: auto;
    padding: 11% 10px 40px 20px;
    display: none;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 15px;
    overflow: scroll;
    background-color: white;
    border-radius: 11% 11% 11% 11%;
    overflow-x: hidden
}

.imageGalleryAI img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    image-rendering: pixelated;
}

.imageGalleryAI img:hover {
    filter: brightness(85%);
}

.indexLast {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

/*Design blob (HELP)*/

#popUp {
    user-select: none;
}

#popUpContainer {
    position: absolute;
    z-index: 497;
    display: flex;
    left: 23.8vw;
    top: 10vh;
}

#modal2 {
    position: fixed;
    z-index: 496;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

#yesAnsw {
    position: absolute;
    z-index: 502;
    width: 44%;
    height: 22%;
    top: 70%;
    left: 4.5%;
    cursor: pointer;
}

#noAnsw {
    position: absolute;
    z-index: 502;
    width: 44%;
    height: 22%;
    top: 70%;
    left: 52%;
    cursor: pointer;
}

.cloud {
    position: absolute;
}

#bg1PancakeBottom {
    background-color: purple;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("gallery/bg1.svg");
    width: 102vw;
    height: 102vh;
    z-index: -50;
}

#cloud0 {
    width: 36.65rem;
    height: 12.4rem;
    left: 58.9vw;
    top: -5.2vh;
    z-index: -48;
    animation: whooshCloud0 50s alternate infinite linear;
}

#cloud1 {
    width: 45.6rem;
    height: 17.5rem;
    left: 12.5vw;
    top: -4.9vh;
    z-index: -44;
    animation: whooshCloud1 65s alternate infinite linear;
}

#cloud2 {
    width: 27.3125rem;
    height: 12.37738rem;
    left: 31.8vw;
    top: 7.7vh;
    z-index: -49;
    animation: whooshCloud2 75s alternate infinite linear;
}

#cloud3 {
    width: 45.6875rem;
    height: 17.63781rem;
    left: 64vw;
    top: 14vh;
    z-index: -45;
    animation: whooshCloud3 55s alternate infinite linear;
}

#cloud4 {
    width: 32.9375rem;
    height: 13.92456rem;
    left: 35vw;
    top: 34.1vh;
    z-index: -49;
    animation: whooshCloud4 55s alternate infinite linear;
}

#cloud5 {
    width: 45.6875rem;
    height: 17.68938rem;
    left: 15.9vw;
    top: 48.7vh;
    z-index: -48;
    animation: whooshCloud5 60s alternate infinite linear;
}

#cloud6 {
    width: 32.9375rem;
    height: 17.17363rem;
    left: 61vw;
    top: 62vh;
    z-index: -48;
    animation: whooshCloud6 65s alternate infinite linear;
}

#cloud6Clone {
    width: 35.9375rem;
    height: 13.17363rem;
    left: 75.9vw;
    top: 3.7vh;
    z-index: -48;
    animation: whooshCloud6Clone 45s alternate infinite linear;
}

@keyframes whooshCloud0 {
    from {
        left: 58.9vw;
    }
    to {
        left: 25vw;
    }
}

@keyframes whooshCloud1 {
    from {
        left: 12.5vw;
    }
    to {
        left: 78vw;
    }
}

@keyframes whooshCloud2 {
    0% {
        left: 31.8vw;
    }
    50% {
        left: 12vw;
    }
    100% {
        left: 69vw;
    }
}

@keyframes whooshCloud3 {
    from {
        left: 64vw;
    }
    to {
        left: 15vw;
    }
}

@keyframes whooshCloud4 {
    from {
        left: 35vw;
    }
    to {
        left: 67vw;
    }
}

@keyframes whooshCloud5 {
    from {
        left: 15.9vw;
    }
    to {
        left: 74vw;
    }
}

@keyframes whooshCloud6 {
    from {
        left: 61vw;
    }
    to {
        left: 22vw;
    }
}
@keyframes whooshCloud6Clone {
    from {
        left: 75.9vw;
    }
    to {
        left: 98vw;
    }
}